<h3><b>Introduction to Data Analytics - Exercise set 2 - pandas-module</b></h3>

Put all your exercises (Jupyter Notebooks or Python-files) in your course Git-project.
Use either code comments or Jupyter Notebook markdown (text) to document which exercise you are doing and what a certain code section does! 
You can return all of these exercises in a single Jupyter Notebook, if you wish.

<b>The datasets for these exercises have been collected from kaggle.com<br />
(a service providing different datasets for practice)</b>

<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_2/es2_1.png" />

<h4><b>1. import pandas and read the csv-file found in Moodle (loans.csv). Use Python coding with pandas to answer the questions.</b></h4>

In [63]:
# you can import numpy and pandas here
import numpy as np
import pandas as pd

# and also load the needed csv-file
pd.options.display.float_format = '{:.2f}'.format
df = pd.read_csv('loans.csv')

<li>Remove the Customer ID –column from data</li>
<li>Print the head of the data</li>

In [64]:
# remove the column and print out the head of the DataFrame
df = df.drop('Customer ID', axis = 1)
df.head()

,Loan ID,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,14dd8831-6af5-400b-83ec-68e61888a048,Fully Paid,445412.00,Short Term,709.00,1167493.00,8 years,Home Mortgage,Home Improvements,5214.74,17.20,NaN,6.00,1.00,228190.00,416746.00,1.00,0.00
1,4771cc26-131a-45db-b5aa-537ea4ba5342,Fully Paid,262328.00,Short Term,NaN,NaN,10+ years,Home Mortgage,Debt Consolidation,33295.98,21.10,8.00,35.00,0.00,229976.00,850784.00,0.00,0.00
2,4eed4e6a-aa2f-4c91-8651-ce984ee8fb26,Fully Paid,99999999.00,Short Term,741.00,2231892.00,8 years,Own Home,Debt Consolidation,29200.53,14.90,29.00,18.00,1.00,297996.00,750090.00,0.00,0.00
3,77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a,Fully Paid,347666.00,Long Term,721.00,806949.00,3 years,Own Home,Debt Consolidation,8741.90,12.00,NaN,9.00,0.00,256329.00,386958.00,0.00,0.00
4,d4062e70-befa-4995-8643-a0de73938182,Fully Paid,176220.00,Short Term,NaN,NaN,5 years,Rent,Debt Consolidation,20639.70,6.10,NaN,15.00,0.00,253460.00,427174.00,0.00,0.00

<li>Remove rows from the data that have <b style="color: red;">a too large of a loan</b> (Current Loan Amount should be less than 99999999)</li>

In [65]:
# remove loans that are too large
df = df[df['Current Loan Amount']<99999999]
df

,Loan ID,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,14dd8831-6af5-400b-83ec-68e61888a048,Fully Paid,445412.00,Short Term,709.00,1167493.00,8 years,Home Mortgage,Home Improvements,5214.74,17.20,NaN,6.00,1.00,228190.00,416746.00,1.00,0.00
1,4771cc26-131a-45db-b5aa-537ea4ba5342,Fully Paid,262328.00,Short Term,NaN,NaN,10+ years,Home Mortgage,Debt Consolidation,33295.98,21.10,8.00,35.00,0.00,229976.00,850784.00,0.00,0.00
3,77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a,Fully Paid,347666.00,Long Term,721.00,806949.00,3 years,Own Home,Debt Consolidation,8741.90,12.00,NaN,9.00,0.00,256329.00,386958.00,0.00,0.00
4,d4062e70-befa-4995-8643-a0de73938182,Fully Paid,176220.00,Short Term,NaN,NaN,5 years,Rent,Debt Consolidation,20639.70,6.10,NaN,15.00,0.00,253460.00,427174.00,0.00,0.00
5,89d8cb0c-e5c2-4f54-b056-48a645c543dd,Charged Off,206602.00,Short Term,7290.00,896857.00,10+ years,Home Mortgage,Debt Consolidation,16367.74,17.30,NaN,6.00,0.00,215308.00,272448.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99993,79b81158-5d55-4766-8ad6-ebcd683f7d59,Fully Paid,44484.00,Short Term,717.00,1152426.00,10+ years,Home Mortgage,small_business,6280.64,21.00,12.00,6.00,0.00,961932.00,0.00,0.00,0.00
99994,8506a4e9-af7d-47d2-a1bf-7ea2c41858f0,Fully Paid,210584.00,Short Term,719.00,783389.00,1 year,Home Mortgage,Other,3727.61,17.40,18.00,6.00,0.00,456.00,259160.00,0.00,0.00
99995,3f94c18c-ba8f-45d0-8610-88a684a410a9,Fully Paid,147070.00,Short Term,725.00,475437.00,7 years,Own Home,other,2202.86,22.30,NaN,5.00,0.00,47766.00,658548.00,0.00,0.00
99997,e1cb4050-eff5-4bdb-a1b0-aabd3f7eaac7,Fully Paid,103136.00,Short Term,742.00,1150545.00,6 years,Rent,Debt Consolidation,7315.57,18.80,18.00,12.00,1.00,109554.00,537548.00,1.00,0.00
99998,81ab928b-d1a5-4523-9a3c-271ebb01b4fb,Fully Paid,530332.00,Short Term,746.00,1717524.00,9 years,Rent,Debt Consolidation,9890.07,15.00,NaN,8.00,0.00,404225.00,738254.00,0.00,0.00

<ul>
    <li>Remove rows that have the annual income as NaN (not a number)</li>
    <ul>
        <li><b>Extra task:</b> use imputation to use average income as the value instead of NaN</li>
    </ul>
</ul>

In [66]:
# remove rows if annual income is NaN
filtered = df[df['Annual Income'].notnull()]

#imputation
df['Annual Income'].fillna((df['Annual Income'].mean()), inplace=True)
df

C:\Users\marc\AppData\Local\Temp\ipykernel_16840\4084540400.py:5: FutureWarning:

A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.

,Loan ID,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,14dd8831-6af5-400b-83ec-68e61888a048,Fully Paid,445412.00,Short Term,709.00,1167493.00,8 years,Home Mortgage,Home Improvements,5214.74,17.20,NaN,6.00,1.00,228190.00,416746.00,1.00,0.00
1,4771cc26-131a-45db-b5aa-537ea4ba5342,Fully Paid,262328.00,Short Term,NaN,1373245.98,10+ years,Home Mortgage,Debt Consolidation,33295.98,21.10,8.00,35.00,0.00,229976.00,850784.00,0.00,0.00
3,77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a,Fully Paid,347666.00,Long Term,721.00,806949.00,3 years,Own Home,Debt Consolidation,8741.90,12.00,NaN,9.00,0.00,256329.00,386958.00,0.00,0.00
4,d4062e70-befa-4995-8643-a0de73938182,Fully Paid,176220.00,Short Term,NaN,1373245.98,5 years,Rent,Debt Consolidation,20639.70,6.10,NaN,15.00,0.00,253460.00,427174.00,0.00,0.00
5,89d8cb0c-e5c2-4f54-b056-48a645c543dd,Charged Off,206602.00,Short Term,7290.00,896857.00,10+ years,Home Mortgage,Debt Consolidation,16367.74,17.30,NaN,6.00,0.00,215308.00,272448.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99993,79b81158-5d55-4766-8ad6-ebcd683f7d59,Fully Paid,44484.00,Short Term,717.00,1152426.00,10+ years,Home Mortgage,small_business,6280.64,21.00,12.00,6.00,0.00,961932.00,0.00,0.00,0.00
99994,8506a4e9-af7d-47d2-a1bf-7ea2c41858f0,Fully Paid,210584.00,Short Term,719.00,783389.00,1 year,Home Mortgage,Other,3727.61,17.40,18.00,6.00,0.00,456.00,259160.00,0.00,0.00
99995,3f94c18c-ba8f-45d0-8610-88a684a410a9,Fully Paid,147070.00,Short Term,725.00,475437.00,7 years,Own Home,other,2202.86,22.30,NaN,5.00,0.00,47766.00,658548.00,0.00,0.00
99997,e1cb4050-eff5-4bdb-a1b0-aabd3f7eaac7,Fully Paid,103136.00,Short Term,742.00,1150545.00,6 years,Rent,Debt Consolidation,7315.57,18.80,18.00,12.00,1.00,109554.00,537548.00,1.00,0.00
99998,81ab928b-d1a5-4523-9a3c-271ebb01b4fb,Fully Paid,530332.00,Short Term,746.00,1717524.00,9 years,Rent,Debt Consolidation,9890.07,15.00,NaN,8.00,0.00,404225.00,738254.00,0.00,0.00

<li>Get the average Current Loan Amount</li>

In [68]:
# get the average current loan
average = df['Current Loan Amount'].mean()
print(f"Average current loan: {average}")

Average current loan: 312313.59788060916

<li>Get the highest and lowest Annual Income in the dataset</li>

In [70]:
# get highest and lowest annual income in dataset
highest = df['Annual Income'].max()
lowest = df['Annual Income'].min()
print(f"Highest annual income: {highest} ")
print(f"Lowest annual income: {lowest} ")

Highest annual income: 165557393.0
Lowest annual income: 76627.0

<li>Get the Home Ownership value of the <b>Loan ID = bbf87a87-22cd-4d10-bd9b-7a9cc1b6e59d</b></li>

In [74]:
# get the needed value with the Loan ID
single = df[df['Loan ID'] == 'bbf87a87-22cd-4d10-bd9b-7a9cc1b6e59d']
single.iloc[0]['Home Ownership']

'Own Home'

<li>Create a new field into your dataset called <b>Actual Annual Income</b>.</li>
<br><b>Note:</b> The Actual Annual Income follow this formula:<br>
<b style="color: green">Annual Income – 12 * Monthly Debt</b><br><br>

In [75]:
# create a new field for Actual Annual income (annual income - 12 * monthly debt)
df['Actual Annual Income'] = df['Annual Income'] - (12 * df['Monthly Debt'])
df

,Loan ID,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens,Actual Annual Income
0,14dd8831-6af5-400b-83ec-68e61888a048,Fully Paid,445412.00,Short Term,709.00,1167493.00,8 years,Home Mortgage,Home Improvements,5214.74,17.20,NaN,6.00,1.00,228190.00,416746.00,1.00,0.00,1104916.12
1,4771cc26-131a-45db-b5aa-537ea4ba5342,Fully Paid,262328.00,Short Term,NaN,1373245.98,10+ years,Home Mortgage,Debt Consolidation,33295.98,21.10,8.00,35.00,0.00,229976.00,850784.00,0.00,0.00,973694.22
3,77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a,Fully Paid,347666.00,Long Term,721.00,806949.00,3 years,Own Home,Debt Consolidation,8741.90,12.00,NaN,9.00,0.00,256329.00,386958.00,0.00,0.00,702046.20
4,d4062e70-befa-4995-8643-a0de73938182,Fully Paid,176220.00,Short Term,NaN,1373245.98,5 years,Rent,Debt Consolidation,20639.70,6.10,NaN,15.00,0.00,253460.00,427174.00,0.00,0.00,1125569.58
5,89d8cb0c-e5c2-4f54-b056-48a645c543dd,Charged Off,206602.00,Short Term,7290.00,896857.00,10+ years,Home Mortgage,Debt Consolidation,16367.74,17.30,NaN,6.00,0.00,215308.00,272448.00,0.00,0.00,700444.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99993,79b81158-5d55-4766-8ad6-ebcd683f7d59,Fully Paid,44484.00,Short Term,717.00,1152426.00,10+ years,Home Mortgage,small_business,6280.64,21.00,12.00,6.00,0.00,961932.00,0.00,0.00,0.00,1077058.32
99994,8506a4e9-af7d-47d2-a1bf-7ea2c41858f0,Fully Paid,210584.00,Short Term,719.00,783389.00,1 year,Home Mortgage,Other,3727.61,17.40,18.00,6.00,0.00,456.00,259160.00,0.00,0.00,738657.68
99995,3f94c18c-ba8f-45d0-8610-88a684a410a9,Fully Paid,147070.00,Short Term,725.00,475437.00,7 years,Own Home,other,2202.86,22.30,NaN,5.00,0.00,47766.00,658548.00,0.00,0.00,449002.68
99997,e1cb4050-eff5-4bdb-a1b0-aabd3f7eaac7,Fully Paid,103136.00,Short Term,742.00,1150545.00,6 years,Rent,Debt Consolidation,7315.57,18.80,18.00,12.00,1.00,109554.00,537548.00,1.00,0.00,1062758.16
99998,81ab928b-d1a5-4523-9a3c-271ebb01b4fb,Fully Paid,530332.00,Short Term,746.00,1717524.00,9 years,Rent,Debt Consolidation,9890.07,15.00,NaN,8.00,0.00,404225.00,738254.00,0.00,0.00,1598843.16

<li>Get the Actual Annual Income of the loan with the <b>ID = 76fa89b9-e6a8-49af-afa1-8151315aba8e</b></li>

In [78]:
# get the Actual Annual income for the needed ID
single = df[df['Loan ID'] == '76fa89b9-e6a8-49af-afa1-8151315aba8e']
single.iloc[0]['Actual Annual Income']

674234.76

<li>Get the Loan ID of the loan with the smallest Actual Annual Income </li>

In [80]:
# get loan ID of lowest actual annual income
single = df[df['Actual Annual Income'] == df['Actual Annual Income'].min()]
single.iloc[0]['Loan ID']

'0a84b8ab-ed2f-474f-a3a9-8bf5bb90c31a'

<li>How many loans are "Long term"?</li>

In [98]:
# produce code that shows how many loans are long term
long_term = df[df['Term'] == 'Long Term']
print(f"{long_term['Term'].count()} loans are long term")

25475 loans are long term

<li>How many loaners have more than 1 bankruptcy?</li>

In [99]:
# produce code that shows how many loaners have more than 1 bankruptcy
multiple_bankruptcies = df[df['Bankruptcies'] > 1]
print(f"{multiple_bankruptcies['Bankruptcies'].count()} have more than 1 bankruptcy")

476 have more than 1 bankruptcy

<li>How many Short Term loans are for Home Improvements?</li>

In [102]:
# produce code that shows how many of the Short Term loans are for Home Improvements
short_term_improvements = df[(df['Term'] == 'Short Term') & (df['Purpose'] == 'Home Improvements')]
print(f"{short_term_improvements['Purpose'].count()} short term loans are for Home Improvements")

3490 short term loans are for Home Improvements

<li>How many unique loan purposes are there?</li>

In [123]:
# produce code that shows how many unique loan purposes there are
unique_purposes = df['Purpose'].unique()
print(f"there are {len(unique_purposes)} unique loan purposes")

there are 16 unique loan purposes

<li>What are the 3 most common loan purposes?</li>

In [124]:
# produce code that shows the 3 most common loan purposes
top_three_purposes = df['Purpose'].value_counts().head(3)
top_three_purposes

Purpose
Debt Consolidation    69506
other                  5409
Home Improvements      5124
Name: count, dtype: int64

<li>Is there a correlation between <b>Annual Income</b> and <b>Number of Open Accounts</b> or is there a correlation between <b>Number of Credit Problems</b> and <b>Bankruptcies</b>?</li>

In [ ]:
# produce code that shows which correlation statement is true

<h4><b>2. Download the purchases.csv from Moodle, and do the following observations:</b></h4>

<li>What was the total price sum of the Purchase Order Number 018H2015? (14 rows in total)</li>

In [ ]:
# produce the code that gets the needed total price sum

<li>What is the name and description of the purchased item with the Purchase Order Number 3176273?</li>

In [2]:
# produce the code that gets the needed name and description

<li>How many occasions (rows) of purchase data happened during the year 2013?</li>

In [1]:
# produce the code that filters the needed data for year 2013

<ul><li>What are the 5 most common Departments in the data?</li>
<ul><li><b>Extra task: </b>What are 3 Departments using most money in the data?</li></ul>
</ul>

In [ ]:
# produce the code that gtest the needed most common departments

<li>Sort the data by Department Name</li>

In [ ]:
# sort the data by department name

<ul>
<li><b>Small extra tasks for extra points</b></li>
<ul>
<li>How many purchases in the data were IT Goods and had the total price more than 50000 dollars?</li>
<li>How many of the purchases have anything to do with IT? (IT Goods, IT Services, IT Telecommunications)</li>

</ul>
</ul>

In [ ]:
# produce the code for the extra tasks if you wish complete them

<ul>
<li><b>Other extra tasks for extra points</b></li>
<ul>
<li>Create a new DataFrame, where you have filtered out purchases that have a Total Price of 0 or less</li>
<li>For this DataFrame, use groupby() –function twice to group the purchases data by Acquisition Type, and then calculating the result first by sum() and then by mean()</li>
<li>Which two acquisition types have the largest sums and means after grouping the data?</li>
</ul>
</ul>

In [ ]:
# produce the code for the extra tasks if you wish complete them

<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_2/es2_2.png" />

<h4><b>3. Download the data_salaries_india.csv from Moodle, and consider the following questions of the data. Use any means in pandas (or even NumPy) you wish to explain your answers.</b></h4>

<ul>
<li>Before we can do anything with the salaries, we have to convert them into something more usable</li>
<ul>
<li>Note: the salaries can be yearly, monthly or hourly salaries</li>
<ul>
<li>We don't also need the Indian rupee –sign (₹)</li>
</ul>
<li>You can use the template in Moodle to help you out with this (Salary filtering, pandas exercise 3)</li>
</ul>
</ul>

In [ ]:
# convert the salaries as needed

<ul>
<li>What are the most common values in different fields (Job Titles, Companies, Location)? <b>Based on the distribution, is the data balanced or not?</b></li>
<ul>
<li><b>Extra task:</b> there seem to be some Job Titles that are almost the same, like "Machine Learning Data Associate" and "Machine Learning Associate", combine these into something common</li>
</ul>
</ul>

In [ ]:
# produce the code that shows the most common values in different fields
# and answer the question about the distribution

<li>Are there any outliers in the data that might affect the averages negatively (certain salaries)? Manage the outliers as you best see fit (either remove them or leave them, based on your analysis) </li>

In [2]:
# produce the code that shows the potential outliers and take care of them as you see fit

<ul>
<li>If we want to correlate upon categories (ordinal or binary), we need to use factorize(). <b>Factorize the Role-column, and add the new column to the DataFrame.</b></li>
<ul>
<li><b>Note:</b> using <b>factorize()</b> for nominal categories (Job Title, Location, Company Name) doesn't work well, because the numbers do not have any numeric magnitude. In other words, these categories don't measure anything, they just group data, so numerical comparison / correlation doesn't mean anything statistically.</li>
</ul>
</ul>

In [ ]:
# example:
# factorize Role level into numbers
# label1, unique1 = pd.factorize(df['Role'], sort=False)
# df['ManagerRole'] = label1

# produce the needed factorization for Role-column

<ul>
<li><b>Finally, check out the correlations. Does anything correlate with anything? Can we make any assumptions?</b></li>
<ul>
<li>Tip: When correlating against binary variables, sometimes the Spearman correlation might be more sensitive, in pandas:</li>
</ul>
</ul>

In [ ]:
# Remember: df.corr(method="spearman")

<b>Extra tasks for this dataset</b><br><br>

<ul>
<li>After all salaries have been converted to correct format by using the helper function (check Moodle), use quantiles and split the data into four different parts:</li>
<ul>
<li><span style="color: red;">Top 25%</span><br>=> quantile(0.75)</li>
<li><span style="color: red;">Above average, values between top 25-50%</span><br>
=> quantile(0.5)  - quantile(0.75)</li>
<li><span style="color: red;">Below average, values between top 50-75% </span><br>
=> quantile(0.25) – quantile(0.5)
</li>
<li><span style="color: red;">Bottom 25%</span><br>=> quantile(0.25)</li>
<br>
<li>What are the salary ranges for each quantile?</li><li>
See examples in pandas-materials on how to use quantiles
</li>
</ul>
</ul>
<hr>

<ul>
<li>Did you get any ideas how this data could be improved? Do we need some particular new data or some other operations on the data? Should we filter something out based on some other column?<br><br><b>Provide arguments for your answers in code comments.</b><br><br> </li>
<ul>
<li>Note: There are many good possible answers here!</li>
<li>Tip: How about replacing the "Salaries Reported" column with actual rows based on that number? Try doing this with the data!</li>
<li>Remember: This data only represents data engineering salaries based on selected Indian cities.
The world is a vast place :)
</li>
</ul>
</ul>

In [ ]:
# code for the extra tasks


<h2><b>Advanced extra tasks for extra points (varying challenges, some require Googling):</b></h2>

<ul>
<li><b>1. Data merge is a useful tool when you have multiple files of data that have the exact same structure.</b><br><br>Download the two csv-files from Moodle (videogames1.csv, videogames2.csv), and combine them into one Data Frame. Lastly, save the Data Frame into a new csv-file => combined.csv.</li>
</ul>

In [3]:
# code for the advanced extra task

<ul>
<li><b>2. Functions and lambdas allow us to extend the operations we wish to do to columns and rows in pandas. </b><br><br>For example, the built-in functions may not be enough in all cases. Use the data of exercise 1 (loans.csv), and create a new column called "Income Group" that holds a text value. <br><br>Create either a function or a lambda, that determines the True or False –value based on the Annual Income –column. Use the following table to create the values:</li>
</ul>

<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_2/es2_3.png"/>

<li>After creating the function/lambda, you can use it by using pandas' .apply() –function.<br><br></li>

<li>Finally, get the amount of rows grouped by each of the new Income Group –field values and print them out.</li>

In [ ]:
# code for the advanced extra task

<ul>
<li><b>3.	Normalization allows us to convert the values of numeric columns to be between 0 and 1.</b> This is helpful when two different numbers seem to follow the same trend, but have completely different value ranges. For example, gold and silver prices tend to follow similar patterns, but their market worth is quite different. By using normalization, we can compare these trends more easily. <br>

Get historical prices of both gold and silver, and compare them without and with normalization. You can plot the prices by using df.plot() –function. Check the dataset in list in Moodle for some alternatives for gold and silver prices.
</li>
</ul>
<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_2/es2_4.png" />

<ul>
<li><b>4.	Create an account to kaggle.com, and find any dataset that interests you. </b><br>

There's a list of possibly interesting datasets listed in Moodle as well.
<br><br>
<b>Try to find interesting features in data, in particular:</b>
</li>
<ul>
<li>Clean up data first (rows with too many NaN –values), values that are way too big or small, insignificant columns etc.)</li>
<li>You can create new columns as well if it seems suitable! (either by using functions or other means)</li>
<li>Interesting correlations (.corr() –function) and other interesting features in the data. Is something surprising in the data?</li>
<li><b>Note: </b>There are many ways on how to approach this exercise.</li>
</ul>
</ul>

<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_2/es2_5.png" />

In [ ]:
# do any Kaggle.com -related extra tasks in their own Jupyter notebooks for easier coding