<ul>
<li><b>3. Download the "complex.xml" file from Moodle, and create a DataFrame out of it.</b></li>
<ul>
    <li><b>Note:</b> using pandas.read_xml() would otherwise work, but it ignores the "ownership" –field. You'll have to find another way to get this data into your DataFrame as well!</li>
</ul>
</ul>

In [5]:
# import the common data analytics modules
import requests
import json
import xml.etree.ElementTree as et 
from flatten_json import flatten
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [23]:
# load XML-file, get root node
xtree = et.parse("complex.xml")
nodes = xtree.getroot()

# column names for pandas to create DataFrame later
df_cols = ["id", "brand", "model", "year", "price", "company", "acquired", "credit_card", "iban"]
rows = []

for node in nodes.iter("car"):
    # parse values
    e_id = node.find("id").text
    e_brand = node.find("brand").text
    e_model = node.find("model").text
    e_year = node.find("year").text
    e_price = node.find("price").text

    # parse nested values
    ownership = node.find("ownership")
    e_company = ownership.find("company").text
    e_acquired = ownership.find("acquired").text

    payment_info = ownership.find("payment_info")
    e_credit_card = payment_info.find("credit_card").text
    e_iban = payment_info.find("iban").text

    # append values to rows
    rows.append({"id": e_id, "brand": e_brand, "model": e_model, "year": e_year, "price": e_price, "company": e_company, "acquired": e_acquired, "credit_card": e_credit_card, "iban": e_iban})

# create DataFrame
out_df = pd.DataFrame(rows, columns = df_cols)
out_df.head()

,id,brand,model,year,price,company,acquired,credit_card,iban
0,1,Mazda,B-Series Plus,1994,69221,Mueller-VonRueden,25/3/2020,jcb,LU43 964Q PJUD Z9WI JVSR
1,2,Ford,F350,2006,13859,"Simonis, Graham and Veum",6/4/2020,diners-club-enroute,AE82 5889 6103 2911 2983 729
2,3,BMW,7 Series,2012,78125,Hammes LLC,25/12/2017,jcb,AZ52 PNUH TWPT YQY9 RMLE BMXO 4JIT
3,4,Subaru,Baja,2004,32941,"MacGyver, Oberbrunner and McGlynn",2/6/2019,mastercard,FR22 5863 0754 268V RGIQ GHX5 Y27
4,5,Audi,S6,2007,46761,"Hand, Johnston and Hickle",12/10/2016,jcb,LT37 9834 6062 9512 0523

<ul>
    <li><b>4. Try out Selenium on a site that cannot be scraped with traditional methods. You can use this tutorial as the starting point:</b></li>
    <ul>
        <li><a href="https://www.toptal.com/python/web-scraping-with-python">https://www.toptal.com/python/web-scraping-with-python</a></li>
    </ul>
</ul>

In [26]:
# Load selenium components
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait, Select
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException

# Establish chrome driver and go to report site URL
url = "https://reportdata.mytestsite.com/transactionSearch.jsp"
driver = webdriver.Chrome()
driver.get(url)

<b>5. Extra challenging advanced task: <span style="color: red;">integrating data sources</span></b>

<ul>
<li><b>Integrate two or more datasets into one matching dataset  (pandas DataFrame), but use any datasets you can find in Kaggle instead of the previous coffee sales + temperature -datasets</b></li>
<br />
<ul>
<li>Find two or more datasets (Kaggle etc.) that have something in common and can be used for merging. </li>
</ul>

<br />
<ul>
<li><b>Typical common columns:</b></li>
<ul>
<li>Coordinates (lat/lng etc.)</li>
<li>Years, months</li>
<li>reference ids (e.g. product id -> product data)</li>
</ul>
</ul>

<br />
<ul>
<li><b>You can use pandas.merge() in order to combine DataFrames</b></li>
<ul>
<li>When combining DataFrames, make sure that the merge doesn’t mess up your data</li>
<li><b>Note:</b> merge can often create way too many extra rows depending on the merging parameters</li>

</ul>
</ul>

<br />
<ul>
<li><b>This exercise can provide even large amounts of points, depending on difficulty. Aspects that affect grading:</b></li>
<ul>
<li>Amount of datasets</li>
<li>Difficulty of the datasets</li>
<li>Using different data formats all at once (XML, JSON, CSV etc.)</li>
<li>Other techniques used to add data: web scraping, data APIs etc.</li>
</ul>
</ul>


</ul>